*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.bi-file-earmark-spreadsheet-fill
{
    font-size: 30px;
}

.bi-chevron-double-left
{
    position: fixed;
    left: 35px;
    top: 30px;
    color: #000;
    cursor: pointer;
    font-size: 2em;
}

.bi-box-arrow-left
{
    position: fixed;
    left: 360px;
    top: 30px;
    color: #000;
    cursor: pointer;
    font-size: 2em;
}

.fa-biking
{
    color: #FFFFFF;
}

.bi-chat-square-text-fill
{
    padding-left: 60px;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 80px;
    left: 120px;
    font-size: 15px;
    cursor: pointer;
}

.notavailable {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 360px;
    left: 200px;
    font-size: 15px;
    cursor: pointer;
}

ul
{
    list-style-type: none;
}

ul input{
    width: 330px;
    height: auto;
    font-size: 20px;
    margin-bottom: 15px;
    border: solid 0px 0px 1px 0px grey;
}

.web
{
    background-color: #FFFFFF;
}

.detail
{
	/* Background image source: https://pixabay.com/vectors/mobile-smartphone-frame-apple-5469232/ */
    /* Logo source: https://winnipeg.ca/designsystem/foundations/colour */
	background:  url('images/background.png');
	background-repeat:  no-repeat;
	
	font-family: "Sofia", sans-serif;
}


body:not(.web, .detail)
{
	/* Background image source: https://pixabay.com/vectors/mobile-smartphone-frame-apple-5469232/ */
    /* Logo source: https://winnipeg.ca/designsystem/foundations/colour */
	background:  url('images/background_index.png');
	background-repeat:  no-repeat;
	
	font-family: "Sofia", sans-serif;
    
}

.loginform
{
    position: fixed;
    left: 60px;
    top: 300px;
}

.homepage
{
    position: fixed;
    left: 50px;
    top: 300px;
}

.surveyform
{
    position: fixed;
    left: 40px;
    top: 310px;
}

.surveyform span:not(.icon)
{
    font-size: 25px;
}

.programpage
{
    position: fixed;
    left: 50px;
    top: 360px;
}

.recordpage
{
    position: fixed;
    left: 50px;
    top: 350px;
}

.reportpage
{
    position: fixed;
    left: 45px;
    top: 360px;
}

.reportpage ul h1
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 20px 15px 55px 15px;
    font-weight: bolder;
    background-color: #00AB4E;
    color:#FFFFFF;
    width:310px;
    height: 20px;
    font-size: 25px;
}
.reportpage ul h2
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 20px 20px 55px 15px;
    font-weight: bolder;
    background-color: #00AB4E;
    color:#FFFFFF;
    width:350px;
    height: 60px;
    font-size: 20px;
}

.reportpage span, h3
{
    font-size: 25px;
}

.detailpage
{
    position: fixed;
    top: 100px;
    left : 30px;
    cursor: pointer;
}

.detailpage ul h1
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 20px 15px 55px 15px;
    font-weight: bolder;
    background-color: #00AB4E;
    color:#FFFFFF;
    width:360px;
    height: 20px;
    font-size: 25px;
}

.instructorpage
{
    position: fixed;
    left: 45px;
    top: 360px;
}

.programEnrollment
{
    position: fixed;
    left: 40px;
    top: 350px;

}

.barcodepage
{
    position: fixed;
    left: 135px;
    top: 400px;
}

ul p
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

ul h1
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 20px 15px 55px 15px;
    font-weight: bolder;
    background-color: #00AB4E;
    color:#FFFFFF;
    width:200px;
    height: 20px;
    font-size: 15px;
}

ul h2
{
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px 5px grey;
    border: none;
    border-radius: 10px;
    padding: 15px 20px 45px 30px;
    font-weight: bolder;
    background-color: #00AB4E;
    color:#FFFFFF;
    width:230px;
    height: 15px;
    font-size: 15px;
}

.login
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 20px 2px 20px;
    margin: 5px;
    width: 320px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: #00669B;
    cursor:pointer;
}

.activity1, .activity2, .activity3, .activity4, .programselect
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 10px;
    width: 150px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
}

.activity1
{
    background: #123985
}

.activity2
{
    background: #6460AA;
}

.activity3
{
    background: #2ED9C3
}

.activity4
{
    background: #00BFDF
}

.programselect
{
    background: #123985
}

.record1, .record2, .record3, .record4
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 330px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor:pointer;
    background: #00BFDF;
    font-size: 20px;
}
.next, .nextsurvey, .nextsurvey2, .submit, .submit2, .nextSurveyGeneral, .home
{
    position: fixed;
    top: 750px;
    left : 330px;
    cursor: pointer;
    font-size: 20px;
}

.confirmPay{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 350px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    background: #FFB71B;
}
.instructordetail
{
    position: fixed;
    top: 730px;
    left : 130px;
    cursor: pointer;
    font-size: 25px;
}

.programdetail
{
    position: fixed;
    top: 730px;
    left : 130px;
    cursor: pointer;
    font-size: 25px;
}
.report1, .report2
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 340px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    background: #00BFDF;
}
.report1
{
    background: #FFB71B
}

.report2
{
    background: #00AB4E
}


.instructor
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 330px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor:pointer;
    background: #2ED9C3;
    font-size: 20px;
}

.program
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 340px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor:pointer;
    background: #2ED9C3;
    font-size: 20px;
}

.programToSubmit
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 320px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    background: #6460AA;
    font-size: 18px;
}

.confirmenroll
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 350px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    cursor:pointer;
    background: #6460AA;
}

.findfriend
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 350px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    background: #2ED9C3;
}

.invitefriend
{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    width: 350px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    background: #123985;
}
/**
Rating
**/

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color:#FFB71B;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #FFB71B;
  }

.checked {
    color: orange;
}

.nologin
{
      position: fixed;
      top: 680px;
      left: 80px;
      cursor: pointer;
      color: #00669B;
      font-size: 20px;
}

.websurvey
{
    position: fixed;
    top: 720px;
    left: 85px;
    cursor: pointer;
    color: #00669B;
    font-size: 20px;
}

.nologin:hover
{
    text-decoration: underline;
}

.websurvey:hover
{
    text-decoration: underline;
}
  
.bi-check-circle-fill
{
      color: #2ED9C3;
      font-size: 2em;
}

.barcodepage
{
      cursor: pointer;
}

.bi-pc-display-horizontal
{
    position: fixed;
    left: 360px;
    top: 30px;
    color: #000;
    cursor: pointer;
    font-size: 2em;
}

.notification
{
    position: fixed;
    left: 320px;
    top: 340px;
}